* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
 #start-background {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}
#greetings {
   position: absolute;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
}





/* Reusable classes */
.whiteBox { margin: 2rem; padding: 1rem; text-align: center; background-color: white;}