* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
/*p {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40,end),
                blink-caret .75s linear infinite ;
}

@keyframes typing {
    from { width: 0 }
    to {width: 100%;}
    
}*/
#start-background {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

button {
    color: white;
    background-color: #3f403f;
    height: 1.5rem;
    width: auto;
    border: none;
    border-radius: 10px;
}
#enterAccess {
    font-size: 40px;
    font-weight: bolder;
}
#guide {
    display: flex;
    position: absolute;
    height: 6rem;
}
#userName {
    border-radius: 10px;
    border: none;
    height: 1.5rem;
    background-color:lightgray;
}

#inSpace img {
    width: 100%;
    height: auto;
}
#planets-button {
    display: flex;
}
/* Reusable classes */
.whiteBox { margin: 2rem; padding: 1rem; text-align: center; background-color: white; border-radius: 10px; 
    /*background-image: url(/IMG/Rabbel-removebg-preview.png); background-repeat: no-repeat; background-size: 10rem;*/ }
.textPosition { position: absolute; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%); }
